h1, h2, h3, h4, h5 {
    font-size: 20px;
}

html, body {
    height: 100%;
}

header {
    background: rgba(60,60,85,0.5);
    color: #fff;
    height: 150px;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    position: fixed;
    top: 10px;
    right: 10px;
    text-align: right;
}

footer {
    background: #333;
    color: #fff;
    height: 150px;
    width: 100%;
}

footer p {
    text-align: center;
}

table {
    width: 100%;
}

.title {
    background: #333;
    color: #fff;
    width: 100%;
    margin: 20px 0;
    padding: 5px 0;
    border-radius: .25rem;
    text-align: center;
}

.container {
    padding: 10px 300px 0 0;
    margin-bottom: 150px;
    height: 100%;
}

.form-inline {
    /*width: 300px;*/
    display: inline-block;
}

.form-half {
    min-width: 200px;
    width: 49%;
    display: inline-block;
}

.form-one-third {
    min-width: 200px;
    width: 32%;
    display: inline-block;
}

.table-heading {
    width: 150px;
    padding-right: 10px;
    text-align: right;
}

.btn-default {
    border: solid 1px #888;
}
